<div id="<%= dom_id quote %>">
  <p>
    <strong>Quote:</strong>
    <%= quote.quote %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= quote.quote_type.description %>
  </p>

  <p>
    <strong>Insanity:</strong>
    <%= quote.insanity %>
  </p>

  <p>
    <strong>Star:</strong>
    <%= quote.star %>
  </p>

</div>
