<p style="color: green"><%= notice %></p>

<h1><%= @homie.name %>'s Quotes</h1>

<div id="quotes">
  <% @quotes.each do |quote| %>
    <div class="card">
      <%= render quote %>
      <p>
        <%= link_to "Show this quote", [@homie, quote] %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New quote", new_homie_quote_path %>
