<p style="color: green"><%= notice %></p>

<%= render @homie %>

<div>
  <%= link_to "Edit this homie", edit_homie_path(@homie) %> |
  <%= link_to "Back to homies", homies_path %>

  <%= button_to "Destroy this homie", @homie, method: :delete %>
</div>
